body {
	background-color: white;
	width:100%;
	margin:0;
	padding:0;
	
}

div#menu a {
	color: black;
	font-weight: 1000;
	text-decoration: none;
}
div#menu a:hover {
	color: white;
}

div#menu {
	margin-left: auto;
	margin-right: auto;
	display: inline-box;
	width: 80%;
	border: black solid 1px;
	background-color: silver;
}
h1#menu {
	margin-left: auto;
	margin-right: auto;
	width:100%;
	text-align: center;
	background-color:red ;
}
